@font-face {
  font-family: fami;
  src: url(../font/famigrot/FamiljenGrotesk-VariableFont_wght.ttf);
}

@font-face {
  font-family: famitalic;
  src: url(../font/famigrot/FamiljenGrotesk-Italic-VariableFont_wght.ttf);
}

::root {
  --transitionEasing: cubic-bezier(0.075, 0.82, 0.165, 1);
}

body {
  width: 100vw;
  height: 100vh;
  max-height: 100vh;
  overflow: hidden;
  marfgin: 0px;
  background-image: url("../img/wall.svg");
  background-repeat: no-repeat;
  background-size: cover;
  font-family: fami, system-ui;
}

* {
  user-select: none !important;
  user-drag: none !important;
}

dock {
  --offsetTop: 1em;
  --h: calc(4em - 0px);
  display: flex;
  column-gap: 10px;
  width: max-content;
  max-width: 90vw;
  height: var(--h);
  background: rgba(0, 0, 0, 0.45);
  mix-blend-mode: normal;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.1), inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 100px;
  text-align: center;
  position: relative;
  top: calc(calc(calc(100vh - var(--h)) - 30px) + var(--offsetTop)) !important;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  transition: all 0.5s;
  transition-timing-function: var(--transitionEasing);
  z-index: 9999999 !important;
}

dock:hover {}

dockcontent {
  display: flex;
  column-gap: 10px;
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
  overflow: auto;
  overflow-y: hidden;
}

.dockicon {
  height: 100%;
  display: inline-block;
  height: calc(4em - 20px);
  aspect-ratio: 1 / 1;
  border-radius: 250px;
  transition: all 0.1s;
  transition-timing-function: var(--transitionEasing);
}

.dockicon:hover {
  scale: 90%;
  box-shadow: 0px 0px 3px 3px #00ffff88, inset 0px 0px 3px 3px #00ffff88 !important;

}
.dockicon.active:hover {
  scale: 90%;
  box-shadow: 0px 0px 3px 3px #00a6ff88, inset 0px 0px 3px 3px #00a6ff88, 0px 0px 5px 5px #00ffff88, inset 0px 0px 5px 5px #00ffff88 !important;

}
.dockicon.active {
  box-shadow: 0px 0px 3px 3px #00a6ff88, inset 0px 0px 3px 3px #00a6ff88;
}

taskbar.edgePiece {
  /* background: rgba(0, 0, 0, 0.45); */
  mix-blend-mode: normal;
  /* box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), inset 0px 4px 4px rgba(0, 0, 0, 0.25); */
  /* border-radius: 50px; */
  position: absolute;
  top: 0px;
  right: 0px;
  height: 25px;
  max-height: 25px;
  width: fit-content;
  padding: 5px;
  color: white;
  z-index: 0 !important;
  width: calc(100vw - 10px);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 10px;
  grid-row-gap: 0px;
}
taskbar.edgePiece zone pill{
  border-radius: 50px;
  padding-left:10px;
  padding-right:10px;
  padding-top:2px;
  padding-bottom:2px;
  align-content: center;
}
pill.black {
  background: #15121f;
  color: white;
}
pill.lblue {
  background: #96ccfb;
  color: black;
}
pill.lpurp {
  background: #ddb5f2;
  color: black;
}
pill.yell {
  background: #fae3af;
  color: black;
}
pill.lgree {
  background: #aae9b2;
  color: black;
}
pill.lred {
  background: #f28fab;
  color: black;
}
taskbar zone pill .material-symbols-outlined{
  position: relative;
  top: 2px;
  display: inline-block; 
}
taskbar.edgePiece zone.left {
  grid-area: 1 / 1 / 2 / 2;
  text-align: left;
}

taskbar.edgePiece zone.middle {
  grid-area: 1 / 2 / 2 / 3;
  text-align: center;
}

taskbar.edgePiece zone.right {
  grid-area: 1 / 3 / 2 / 4;
  text-align: right;
}

taskbar.edgePiece span.clock {
  display: inline;
  font-size: smaller;
}

body.maximisedWindow taskbar.edgePiece,
body.maximisedWindow taskbar.edgePieceLeft {
  border-radius: 0px !important;
  box-shadow: none !important;
  height: 30px;
  max-width: unset !important;

}

taskbar.edgePieceLeft {
  z-index: 0;
  background: rgba(0, 0, 0, 0.45);
  mix-blend-mode: normal;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 0px 10px 0px 0px;
  position: absolute;
  bottom: 0px;
  left: 0px;
  height: fit-content;
  width: fit-content;
  max-width: 150px;
  padding: 5px;
  color: white;
  transition: all 0.5s;
  transition-timing-function: var(--transitionEasing);
}

taskbar.edgePieceLeft #windowList {
  width: fit-content;
  min-width: 0px;
  max-width: 100%;
}

taskbar.edgePiece *,
taskbar.edgePieceLeft * {
  font-size: 17pt;
}

/* scrollbar */
*:not(dockcontent)::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

*:not(dockcontent)::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

*:not(dockcontent)::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.3);
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

*:not(dockcontent)::-webkit-scrollbar-thumb:window-inactive {
  background: rgba(255, 255, 255, 0.3);
}

/* scrollbar */
dockcontent::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

dockcontent::-webkit-scrollbar-track {
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

dockcontent::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.1);
}

dockcontent::-webkit-scrollbar-thumb:window-inactive {
  background: rgba(0, 0, 0, 0.1);
}

div.window {
  transition: scale opacity 0.5s;
  transition-timing-function: var(--transitionEasing);
  display: inline-block;
  overflow: hidden;
  border-radius: 12px;
  padding: 5px;
  z-index: 999999;
  color: white;
  min-width: 200px;
  min-height: 200px;
  width: 200px;
  position: relative;
  backdrop-filter: blur(10px) !important;
  background: rgba(0, 0, 0, 0.45);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), inset 0px 4px 4px rgba(0, 0, 0, 0.25);
}

div.window:before {
  display: inline;
  content: attr(title);
  position: absolute;
  top: 0px;

}

div.windowcontrols span {
  width: 1em;
  height: 1em;
  transition: all 0.1s;
  transition-timing-function: var(--transitionEasing);
  display: inline-block;
}

div.windowcontrols span.hidewin {
  background-image: url(../icons/controls/windowHide.svg);
  background-size: cover;
}

div.windowcontrols span.winmode {
  background-image: url(../icons/controls/windowMode.svg);
  background-size: cover;
}

div.windowcontrols span.closewin {
  background-image: url(../icons/controls/windowClose.svg);
  background-size: cover;
}

div.windowcontrols span:hover {
  scale: 90%;
}

div.windowcontrols span:after {
  transition: all 0.1s;
  transition-timing-function: var(--transitionEasing);
  display: inline-block;
  position: relative;
  top: -5px;
  width: 1.3em;
  height: 1.3em;
  border-radius: 100px;
  text-align: center;
  font-size: 0.7em;
  opacity: 0%;
}

div.windowcontrols span:hover:after {
  opacity: 100%;
}

div.windowcontrols span.closewin:hover:after {
  content: 'x';
}

div.windowcontrols span.hidewin:hover:after {
  content: '-';
}

div.windowcontrols span.winmode:hover:after {
  content: '🞐';
  scale: 70%;
  left: 1px;
}

div.windowcontrols {
  display: inline;
  float: right;
  padding-left: calc(100% - 3.5em);
}

div.wincontent {
  top: 0px;
  height: calc(100% - 15px);
  width: 100%;
  position: relative;
  pointer-events: none;
  background-color: transparent;
}

.window.test {
  width: 50vw;
  height: 50vh;
}

div.windowSafeArea {
  width: 100vw;
  height: calc(calc(100vh - 24px) - 1em);
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 0;
}

div.windowMaximised {
  top: 0px !important;
  left: 0px !important;
  width: calc(100vw - 10px) !important;
  height: calc(calc(100vh - 34px) - 1em) !important;
  transition: all 0.1s;
  transition-timing-function: var(--transitionEasing);
  border-radius: 0px;
  box-shadow: none;
}

div.windowMinAnim {
  position: absolute !important;
  bottom: -300px;
  left: -300px;
  opacity: 0%;
  width: 0px;
  height: 0px;
}

div.windowMinimised {
  display: none;
}

dock.duck {
  height: 64px;
  bottom: 0px !important;
  --offsetTop: calc(3.5em - 2px);
  border-radius: 12px 12px 0px 0px !important;
}

dock.duck:hover {
  --offsetTop: 2em;
  height: 64px;
  border-radius: 12px 12px 0px 0px !important;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), inset 0px 4px 4px rgba(0, 0, 0, 0.25) !important;
}

body.maximisedWindow dock {
  box-shadow: none !important;
  border-radius: 0px !important;
}

body.maximisedWindow dock>dockcontent {
  box-shadow: none !important;
  border-radius: 0px !important;
}

select#windowList {
  background: none;
  border: 0px;
  color: white;
}

select#windowList option {
  color: black;
}

body.maximisedWindow #windowList {
  width: 100% !important;
}

.floatingStatus {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 99999999999s;
}

.splitLeftHere {
  height: 100vh;
  width: 20px;
  display: none;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 999999999999999999999;
  transition: all 0.1s;
  transition-timing-function: var(--transitionEasing);
}

body:has(*.window.ui-draggable-dragging)>.splitLeftHere {
  display: block;
}

.splitLeftHere:hover {}

.splitRightHere {
  height: 100vh;
  width: 20px;
  display: none;
  position: absolute;
  top: 0px;
  right: 0px;
  z-index: 999999999999999999999;
  transition: all 0.1s;
  transition-timing-function: var(--transitionEasing);
}

body:has(*.window.ui-draggable-dragging)>.splitRightHere {
  display: block;
}

.splitRightHere:hover {}

body:not(.maximisedWindow) .windowSafeArea {
  height: calc(100vh - 84px) !important;
}

.wsplit {
  backdrop-filter: blur(10px);
  background-color: rgba(50, 50, 200, 50%);
}

.wsplit:hover {
  background-color: rgba(50, 50, 200, 100%);
}