body {
    width: 100vw;
    max-width: 100vw;
    overflow: auto;
    overflow-x: hidden;
    padding: 0px;
    height: 100vh;
    margin: 0px;
    background-color: none;
    color: white !important;
    cursor: none;
}
@import url('https://fonts.googleapis.com/css2?family=Familjen+Grotesk:ital,wght@0,400..700;1,400..700&display=swap');

* {
    font-family: "lucide","Familjen Grotesk", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
    font-size: 1em;
    user-select: none;
    transition: transform 0.15s ease;
    -webkit-user-drag: none;
    color: white;
}

navRail {
    width: 100vw;
    background: rgba(14, 14, 14, 0.3);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    min-height: 30px;
    max-height: 50px;
    height: 1em;
    display: block;
}

back::after {
    display: inline;
    content: "\e04c";
    padding-top: 0.2em;
    padding-left: 0.5em;
    font-size: 1.3em;
    color: white;
}

forward::after {
    display: inline;
    content: "\e04c";
    padding-top: 0.2em;
    padding-left: 0.5em;
    font-size: 1.3em;
    color: white;
}

.fileMan li {
    list-style-type: "";

}

.fileMan li.folder::before {
    content: "\e333";
    border-radius: 0ch;
    padding-inline: 0.5ch;
    margin-inline-end: 0ch;
    margin-left: -32.5px;
}

.fileMan li.fileGeneric::before {
    content: "\e0c1";
    border-radius: 0ch;
    padding-inline: 0.5ch;
    margin-inline-end: 0ch;
    margin-left: -32.5px;
}

.fileMan li.parentDir::before {
    content: "\e04e";
    border-radius: 0ch;
    padding-inline: 0.5ch;
    margin-inline-end: 0ch;
    margin-left: -32.5px;
}

button {
    border: 0px;
    outline: none;
    padding:6px;
    background: rgba(14, 14, 14, 0.3);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    margin:5px;
    display: inline;    
}
.buttonRow{
    display: inline-block;
    width: 100vw;
    max-width: 100vw;
    overflow-x: auto;
    white-space: nowrap;
}
::-webkit-scrollbar-corner { background: rgba(0,0,0,0.5); }

* {
    scrollbar-width: thin;
    scrollbar-color: var(--scroll-bar-color) var(--scroll-bar-bg-color);
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 12px;
    height: 12px;
}

*::-webkit-scrollbar-track {
    background: red;
}

*::-webkit-scrollbar-thumb {
    background-color: red;
    border-radius: 20px;
    border: 3px solid red;
}
